        #input:focus
        {
            border-color: inherit;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        
        .float {
            position: sticky;
            width: 40px;
            height: 40px;
            bottom: 30px;
            right: 30px;
            background-color: rgb(50, 50, 50);
            color: #FFF;
            border-radius: 50px;
            text-align: center;
            float: right;
            }
    
            .float:hover
            {
                color:black;
            }
    
            :root {
            --bg-color: #fff;
            --typewriterSpeed: 2s;
            --typewriterCharacters: 24;
            }
    
            #myname {
                font-size: clamp(1rem, 3vw + 1rem, 4rem);
                position: relative;
                font-family: "Source Code Pro", monospace;
                position: relative;
                width: max-content;
            }
    
            #myname::before,
            #myname::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            }
            
            #myname::before {
            background: var(--bg-color);
            animation: typewriter var(--typewriterSpeed)
                steps(var(--typewriterCharacters)) 1s forwards;
            }
    
            #myname::after {
            width: 0.125em;
            background: black;
            animation: typewriter var(--typewriterSpeed)
                steps(var(--typewriterCharacters)) 1s forwards,
                blink 750ms steps(var(--typewriterCharacters)) infinite;
            }
    
            #description {
            color: hsl(0 0% 0% / 0.7);
            font-size: 1.5rem;
            font-weight: 400;
            opacity: 0;
            transform: translateY(3rem);
            animation: fadeInUp 1s ease calc(var(--typewriterSpeed)) forwards;
            }

            #aboutme
            {
                opacity: 0;
                transform: translateX(-3rem);
                animation: fadeInRight 2s ease calc(var(--typewriterSpeed) + 1s) forwards;
            }


            
            @keyframes typewriter {
            to {
                left: 100%;
            }
            }
    
            @keyframes blink {
            to {
                background: transparent;
            }
            }
    
            @keyframes fadeInUp {
            to {
                opacity: 1;
                transform: translateY(0);
                }
            }
            @keyframes fadeInRight {
                to {
                    opacity: 1;
                    transform: translateX(0);
                    }
                }

  #project_cards:hover {
   animation: swing 1.5s ease;
   animation-iteration-count: 1;
  }
  @keyframes swing {
    15% {
      -webkit-transform: translateX(10px);
      transform: translateX(10px);
    }
    30% {
      -webkit-transform: translateX(-10px);
      transform: translateX(-10px);
    }
    50% {
      -webkit-transform: translateX(5px);
      transform: translateX(5px);
    }
    65% {
      -webkit-transform: translateX(-5px);
      transform: translateX(-5px);
    }
    80% {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }